@font-face {
    font-family: 'Circle-Regular';
    src: url("/src/fonts/Circle-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Circe-ExtraLight';
    src: url("/src/fonts/CRC25.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Circe-Light';
    src: url("/src/fonts/CRC35.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Circe-Regular';
    src: url("/src/fonts/CRC55.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Circe-Bold';
    src: url("/src/fonts/CRC65.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Circe-ExtraBold';
    src: url("/src/fonts/CRC75.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}